In [1]:
import pandas as pd

In [2]:
sanbul = pd.read_excel('C:\project22\sanbul.xls'
                       , sheet_name = "Sheet1")

In [3]:
sanbul.head()

,년도별 산불통계,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_관서,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인_구분,발생원인_세부원인,발생원인_기타,피해면적_합계
2,2021,12,30,14:57,목,2021,12,30,17:30,경북,경북,봉화,명호,양곡,건,주택화재비화,NaN,0.5
3,2021,12,30,11:16,목,2021,12,30,12:30,충북,충북,청주,오송,상봉,기,기타(직접입력),원인미상,0.4
4,2021,12,29,14:20,수,2021,12,29,17:30,경남,경남,남해,창선,가인,기,기타(직접입력),원인미상,0.5

In [4]:
# 열 이름이 되야할 데이터 추출
index_fix = sanbul.loc[1]

# 열이름 변경
sanbul.columns = index_fix

# 필요없는 행 제거
sanbul = sanbul.drop([0, 1])

In [8]:
# 년 월 일 합치기?
# 날짜 데이터와 형태 같게 만들기 yyyy-mm-dd
sanbul['tm'] = sanbul['발생일시_년'] + '-' + sanbul['발생일시_월'] + '-' + sanbul['발생일시_일']

1,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_관서,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인_구분,발생원인_세부원인,발생원인_기타,피해면적_합계,tm
2,2021,12,30,14:57,목,2021,12,30,17:30,경북,경북,봉화,명호,양곡,건,주택화재비화,NaN,0.5,2021-12-30
3,2021,12,30,11:16,목,2021,12,30,12:30,충북,충북,청주,오송,상봉,기,기타(직접입력),원인미상,0.4,2021-12-30
4,2021,12,29,14:20,수,2021,12,29,17:30,경남,경남,남해,창선,가인,기,기타(직접입력),원인미상,0.5,2021-12-29
5,2021,12,29,13:53,수,2021,12,29,16:10,전남,전남,순천,NaN,대룡,쓰,쓰레기소각,NaN,0.03,2021-12-29
6,2021,12,29,05:47,수,2021,12,29,12:00,전남,전남,완도,완도,장좌,입,기타(직접입력),입산자실화,0.1,2021-12-29

In [10]:
# 필요 한 열 추출
sanbul_data = sanbul[['tm', '발생장소_시도', '발생장소_시군구', '발생원인_구분', '피해면적_합계']]
sanbul_data.tail()

1             tm 발생장소_시도 발생장소_시군구 발생원인_구분 피해면적_합계
4806  2012-01-14      전남       완도       기       2
4807  2012-01-11      강원       홍천       입    0.03
4808  2012-01-11      경기      남양주       입     0.1
4809  2012-01-09      경북       영덕       건     0.1
4810  2012-01-05      부산        동       입     0.1

In [13]:
# 결츨치 확인 = 없음
sanbul_data.isnull().sum()

1
tm          0
발생장소_시도     0
발생장소_시군구    0
발생원인_구분     0
피해면적_합계     0
dtype: int64

In [19]:
sanbul_data.to_csv('./sanbul_data.csv', encoding= 'euc-kr')