In [1]:
import pandas as pd

In [2]:
sanbul = pd.read_excel('C:\project22\sanbul.xls'
                       , sheet_name = "Sheet1")

In [3]:
# 열 이름이 되야할 데이터 추출
index_fix = sanbul.loc[1]

# 열이름 변경
sanbul.columns = index_fix

# 필요없는 행 제거
sanbul = sanbul.drop([0, 1])

# 년 월 일 합치기?
# 날짜 데이터와 형태 같게 만들기 yyyy-mm-dd
sanbul['tm'] = sanbul['발생일시_년'] + '-' + sanbul['발생일시_월'] + '-' + sanbul['발생일시_일']


# 발생장소_시도 = 강원, 경북, 울진만 추출

condition = (sanbul.발생장소_시도 == '강원') | (sanbul.발생장소_시도 == '경북') | (sanbul.발생장소_시도 == '울산')
sanbul_region = sanbul[condition]

In [4]:
# 필요 한 열 추출
sanbul_data = sanbul_region[['tm', '발생일시_월','발생일시_시간','발생장소_시도', '발생장소_시군구', '발생원인_구분', '피해면적_합계']]
# 결츨치 확인 = 없음
sanbul_data.isnull().sum()

1
tm          0
발생일시_월      0
발생일시_시간     0
발생장소_시도     0
발생장소_시군구    0
발생원인_구분     0
피해면적_합계     0
dtype: int64

In [7]:
sanbul_data.head()

1           tm 발생일시_월 발생일시_시간 발생장소_시도 발생장소_시군구 발생원인_구분 피해면적_합계  hour min
2   2021-12-30     12   14:57      경북       봉화       건     0.5    14  57
8   2021-12-29     12   02:42      강원       춘천       건       4     2  42
11  2021-12-24     12   15:00      경북       고령       입    0.04    15  00
12  2021-12-24     12   14:54      경북       경주       입       1    14  54
13  2021-12-23     12   19:14      울산       울산       입    0.01    19  14

In [17]:
sanbul.groupby('발생장소_시도').count()

1,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_관서,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인_구분,발생원인_세부원인,발생원인_기타,피해면적_합계,tm
발생장소_시도,,,,,,,,,,,,,,,,,,
강원,720,720,720,720,720,720,720,720,720,720,720,714,690,720,720,242,720,720
경기,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,953,886,1017,1013,285,1017,1017
경남,399,399,399,399,399,399,399,399,399,399,399,396,380,399,398,147,399,399
경북,802,802,802,802,802,802,802,802,802,802,802,793,769,802,799,267,802,802
광주,32,32,32,32,32,32,32,32,32,32,32,28,4,32,32,4,32,32
대구,81,81,81,81,81,81,81,81,81,81,81,68,39,81,81,40,81,81
대전,74,74,74,74,74,74,74,74,74,74,74,67,7,74,74,16,74,74
부산,122,122,122,122,122,122,122,122,122,122,122,102,54,122,121,42,122,122
서울,115,115,115,115,115,115,115,115,115,115,115,107,8,115,115,45,115,115
세종,32,32,32,32,32,32,32,32,32,32,32,29,23,32,32,11,32,32
울산,107,107,107,107,107,107,107,107,107,107,107,96,77,107,107,40,107,107
인천,182,182,182,182,182,182,182,182,182,182,182,172,77,182,181,54,182,182
전남,396,396,396,396,396,396,396,396,396,396,396,390,380,396,394,83,396,396
전북,229,229,229,229,229,229,229,229,229,229,229,227,222,229,229,60,229,229
제주,5,5,5,5,5,5,5,5,5,5,5,5,4,5,5,2,5,5
충남,272,272,272,272,272,272,272,272,272,272,272,268,261,272,272,97,272,272
충북,224,224,224,224,224,224,224,224,224,224,224,223,218,224,224,50,224,224

In [5]:
# 울산 시군구 통일
sanbul_data.loc[sanbul_data['발생장소_시도'] == '울산', '발생장소_시군구'] = '울산'

C:\Users\user\AppData\Local\Temp\ipykernel_7204\2312237761.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_data.loc[sanbul_data['발생장소_시도'] == '울산', '발생장소_시군구'] = '울산'

In [6]:
# 발생일시_시간 시, 분 나누기
time_split = sanbul_data["발생일시_시간"].str.split(":")

sanbul_data["hour"] = time_split.str.get(0)
sanbul_data["min"] = time_split.str.get(1)

# 비교를 위해 형변환
sanbul_data["hour"] = sanbul_data["hour"].astype("int")

C:\Users\user\AppData\Local\Temp\ipykernel_7204\2252101415.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_data["hour"] = time_split.str.get(0)
C:\Users\user\AppData\Local\Temp\ipykernel_7204\2252101415.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_data["min"] = time_split.str.get(1)
C:\Users\user\AppData\Local\Temp\ipykernel_7204\2252101415.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_data["hour"] = sanbul_data["hour"].astype("int")

In [7]:
# 산불 시간대 계산 (산불 발생 시를 조사한 후 시간대별로 나눔)
def func(x) :
    if x >= 0 and x < 3 :
        return "0 ~ 2"
    elif x >= 3 and x < 6:
        return "3 ~ 5"
    elif x >= 6 and x < 9:
        return "6 ~ 8"
    elif x >= 9 and x < 12:
        return "9 ~ 11"
    elif x >= 12 and x < 15:
        return "12 ~ 14"
    elif x >= 15 and x < 18:
        return "15 ~ 17"
    elif x >= 18 and x < 21:
        return "18 ~ 20"
    else :
        return "21 ~ 23"
sanbul_data["time"] = sanbul_data["hour"].apply(lambda x : func(x))

C:\Users\user\AppData\Local\Temp\ipykernel_5232\3054054925.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sanbul_data["time"] = sanbul_data["hour"].apply(lambda x : func(x))

In [8]:
time_groups = sanbul_data.groupby('time')

# 시간대별 산불 발생 건수 확인
# 12 ~ 14 380
# 15 ~ 17 251
# 9 ~ 11 138
# 18 ~ 20 90
time_groups.count()

1         tm  발생일시_시간  발생장소_시도  발생장소_시군구  발생원인_구분  피해면적_합계  hour  min
time
0 ~ 2     23       23       23        23       23       23    23   23
12 ~ 14  660      660      660       660      660      660   660  660
15 ~ 17  415      415      415       415      415      415   415  415
18 ~ 20  139      139      139       139      139      139   139  139
21 ~ 23   54       54       54        54       54       54    54   54
3 ~ 5     38       38       38        38       38       38    38   38
6 ~ 8     47       47       47        47       47       47    47   47
9 ~ 11   253      253      253       253      253      253   253  253

In [ ]:
condition = (sanbul.발생장소_시도 == '강원') | (sanbul.발생장소_시도 == '경북') | (sanbul.발생장소_시도 == '울산')
sanbul_region = sanbul[condition]

In [9]:
rank_df = sanbul_data

rank_df['피해면적_합계'] = rank_df['피해면적_합계'].astype(float)

rank_df['rank'] = rank_df['피해면적_합계'].rank(ascending = False)

# rank_df[(rank_df['rank'] < 20)]
rank_df = rank_df.sort_values(by = 'rank', ignore_index = True)

rank_df

C:\Users\user\AppData\Local\Temp\ipykernel_5232\2287925413.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank_df['피해면적_합계'] = rank_df['피해면적_합계'].astype(float)
C:\Users\user\AppData\Local\Temp\ipykernel_5232\2287925413.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank_df['rank'] = rank_df['피해면적_합계'].rank(ascending = False)

1,tm,발생일시_시간,발생장소_시도,발생장소_시군구,발생원인_구분,피해면적_합계,hour,min,time,rank
0,2020-04-24,15:39,경북,안동,입,1944.00,15,39,15 ~ 17,1.0
1,2019-04-04,19:17,강원,고성,기,1266.62,19,17,18 ~ 20,2.0
2,2019-04-04,23:46,강원,강릉,기,1260.15,23,46,21 ~ 23,3.0
3,2017-05-06,11:42,강원,삼척,입,765.12,11,42,9 ~ 11,4.0
4,2020-03-19,13:51,울산,울산,입,519.00,13,51,12 ~ 14,5.0
...,...,...,...,...,...,...,...,...,...,...
1624,2019-05-17,14:01,울산,울산,입,0.01,14,01,12 ~ 14,1501.0
1625,2016-11-29,04:35,강원,강릉,기,0.01,4,35,3 ~ 5,1501.0
1626,2020-12-06,13:00,울산,울산,입,0.01,13,00,12 ~ 14,1501.0
1627,2014-02-03,15:02,경북,포항 북,입,0.01,15,02,15 ~ 17,1501.0
1628,2013-05-14,20:04,경북,영덕,입,0.01,20,04,18 ~ 20,1501.0

In [10]:
# 피해면적 비율 계산하기

# 전체 피해면적 합산
total_area = rank_df['피해면적_합계'].sum()

# 피해면적/total_area 비율 계산 100%로 계산
rank_df['radio'] = rank_df['피해면적_합계']/total_area * 100

# 피해면적 누계 계산 # 누계합 함수 cumsum
rank_df['cumulative'] = rank_df['피해면적_합계'].cumsum()

rank_df['cumulative'] = rank_df['radio'].cumsum()

In [11]:

def func(y) :
    if y < 50 :
        return "1"
    elif y >= 51 and y < 101:
        return "2"
    elif y >= 101 and y < 151:
        return "3"
    elif y >= 151 and y < 201:
        return "4"
    elif y >= 201 and y < 251:
        return "5"
    elif y >= 251 and y < 301:
        return "6"
    elif y >= 301 and y < 351:
        return "7"
    elif y >= 351 and y < 401:
        return "8"
    elif y >= 401 and y < 451:
        return "9"
    elif y >= 451 and y < 501:
        return "10"
    elif y >= 501 and y < 551:
        return "11"
    elif y >= 551 and y < 601:
        return "12"
    elif y >= 601 and y < 651:
        return "13"
    elif y >= 651 and y < 701:
        return "14"
    elif y >= 701 and y < 751:
        return "15"
    elif y >= 751 and y < 801:
        return "16"
    elif y >= 801 and y < 951:
        return "17"
    elif y >= 851 and y < 901:
        return "18"
    elif y >= 901 and y < 951:
        return "19"
    elif y >= 951 and y < 1001:
        return "20"
    elif y >= 1001 and y < 1051:
        return "21"
    elif y >= 1051 and y < 1101:
        return "22"
    elif y >= 1101 and y < 1151:
        return "23"
    elif y >= 1151 and y < 1201:
        return "24"
    elif y >= 1201 and y < 1251:
        return "25"
    elif y >= 1251 and y < 1301:
        return "26"
    elif y >= 1301 and y < 1351:
        return "27"
    elif y >= 1351 and y < 1401:
        return "28"
    elif y >= 1401 and y < 1451:
        return "29"
    elif y >= 1451 and y < 1500:
        return "30"
    else :
        return "31"
rank_df["group"] = rank_df["rank"].apply(lambda y : func(y))

In [12]:
grade_group = rank_df.groupby('group')

In [15]:
grade_group.count()

1,tm,발생일시_시간,발생장소_시도,발생장소_시군구,발생원인_구분,피해면적_합계,hour,min,time,rank,radio,cumulative
group,,,,,,,,,,,,
1,50,50,50,50,50,50,50,50,50,50,50,50
10,21,21,21,21,21,21,21,21,21,21,21,21
12,123,123,123,123,123,123,123,123,123,123,123,123
13,38,38,38,38,38,38,38,38,38,38,38,38
14,12,12,12,12,12,12,12,12,12,12,12,12
17,302,302,302,302,302,302,302,302,302,302,302,302
2,52,52,52,52,52,52,52,52,52,52,52,52
20,37,37,37,37,37,37,37,37,37,37,37,37
21,39,39,39,39,39,39,39,39,39,39,39,39
22,116,116,116,116,116,116,116,116,116,116,116,116
24,27,27,27,27,27,27,27,27,27,27,27,27
25,99,99,99,99,99,99,99,99,99,99,99,99
27,89,89,89,89,89,89,89,89,89,89,89,89
3,48,48,48,48,48,48,48,48,48,48,48,48
31,257,257,257,257,257,257,257,257,257,257,257,257
4,57,57,57,57,57,57,57,57,57,57,57,57
5,38,38,38,38,38,38,38,38,38,38,38,38
6,38,38,38,38,38,38,38,38,38,38,38,38
7,74,74,74,74,74,74,74,74,74,74,74,74
8,32,32,32,32,32,32,32,32,32,32,32,32
9,80,80,80,80,80,80,80,80,80,80,80,80

In [18]:
rank_df.to_csv('./sanbul_rank_group30.csv', encoding= 'utf-8')