In [2]:
import pandas as pd
import openpyxl

moving = pd.read_excel('C:\project22\(제공용) 요일별 유동인구 샘플자료.xlsx'
                       , sheet_name = "데이터예시")

In [4]:
# 열이름 변경
moving.drop(['Unnamed: 0'], axis=1, inplace=True)

# 컬럼이름 3행의 값으로 변경
moving.columns = moving.loc[3]

In [20]:
moving_first = pd.DataFrame()
# moving_first['all'] = str(moving['기준년월']) + '\t' + str(moving['소지역코드']) + '\t' + str(moving['X좌표']) + '\t' + str(moving['Y좌표']) + '\t' + str(moving['월요일 유동인구'])

moving = moving.astype('str')
moving_first['All'] = moving[['기준년월', '소지역코드', 'X좌표', 'Y좌표', '월요일 유동인구']].apply('\t'.join, axis=1)

In [21]:
moving_first

                                                  All
0                        요일별 유동인구\tnan\tnan\tnan\tnan
1                             nan\tnan\tnan\tnan\tnan
2     * 실데이터가 아니라 이해를 돕기위한 예시데이터임\tnan\tnan\tnan\tnan
3                     기준년월\t소지역코드\tX좌표\tY좌표\t월요일 유동인구
4   STD_YM\tBLOCK_CD\tX_COORD\tY_COORD\tFLOW_POP_C...
5   202112\t23320330100070000000\t746783.991784\t2...
6   202112\t23320330100070000000\t746783.991784\t2...
7   202112\t23320330100070000000\t746783.991784\t2...
8   202112\t23320330100070000000\t746783.991784\t2...
9   202112\t23320330100070000000\t746833.991784\t2...
10  202112\t23320330100070000000\t746833.991784\t2...
11  202112\t23320330100070000000\t746833.991784\t2...
12  202112\t23320330100070000000\t746833.991784\t2...
13  202112\t23320330100070000000\t746833.991784\t2...
14  202112\t23320330100070000000\t746833.991784\t2...
15  202112\t23320330100070000000\t746833.991784\t2...
16  202112\t23320330100070000000\t746833.991784\t2...
17  202112\t23320330100070000000\t746883.991784\t1...
18  202112\t23320330100070000000\t746883.991784\t1...
19  202112\t23320330100070000000\t746883.991784\t1...

In [24]:
# moving_first[['group', 'id', 'value', 'grade']] = pd.DataFrame(moving_first.col.str.split('\t', 3).tolist())

# 새로운 데이터 프레임 = pd.DataFrame(기존 데이터 프레임.컬럼명.str.split('\t', 몇개 열로 나눌지).tolist(),
#                                    columns = ['컬럼 이름~~~'])

df = pd.DataFrame(moving_first.All.str.split('\t', 4).tolist(),
                  columns = ['기준년월', '소지역 코드', 'X좌표', 'Y좌표', '월요일 유동인구'])
df

,기준년월,소지역 코드,X좌표,Y좌표,월요일 유동인구
0,요일별 유동인구,nan,nan,nan,nan
1,nan,nan,nan,nan,nan
2,* 실데이터가 아니라 이해를 돕기위한 예시데이터임,nan,nan,nan,nan
3,기준년월,소지역코드,X좌표,Y좌표,월요일 유동인구
4,STD_YM,BLOCK_CD,X_COORD,Y_COORD,FLOW_POP_CNT_MON
5,202112,23320330100070000000,746783.991784,2000329.147385,40.75
6,202112,23320330100070000000,746783.991784,2000379.147385,0.05
7,202112,23320330100070000000,746783.991784,2001079.147385,22.32
8,202112,23320330100070000000,746783.991784,2001179.147385,0.05
9,202112,23320330100070000000,746833.991784,2000079.147385,0.11
10,202112,23320330100070000000,746833.991784,2000229.147385,0.62
11,202112,23320330100070000000,746833.991784,2000279.147385,0.9
12,202112,23320330100070000000,746833.991784,2000329.147385,0.9
13,202112,23320330100070000000,746833.991784,2000379.147385,0.14
14,202112,23320330100070000000,746833.991784,2001079.147385,29.54
15,202112,23320330100070000000,746833.991784,2001129.147385,5.67
16,202112,23320330100070000000,746833.991784,2001179.147385,3.88
17,202112,23320330100070000000,746883.991784,1999379.147385,3.66
18,202112,23320330100070000000,746883.991784,1999429.147385,1.7
19,202112,23320330100070000000,746883.991784,1999479.147385,1.84