In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
# 러시아 수출 물품 리스트 불러오기
russian_exported_list = pd.read_table('C:\project2\Trade_map_List_of_products_exported_and_imported\Trade_Map_-_List_of_products_exported_by_Russian_Federation.txt', sep = '\t')
russian_exported_list.rename(columns={'Code':'HS'}, inplace=True)
russian_exported_list.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,TOTAL,All products,524766421,527265919,497833529,333501801,285491052,357083135,449347157,422777167,337105352,492314339,NaN
1,270900,Petroleum oils and oils obtained from bitumino...,180929708,173669617,153887932,86172174,73676262,93306412,129049146,121443990,72564294,110968247,NaN
2,999999,Commodities not elsewhere specified,12711257,13208165,11646991,55364811,45239262,52887528,63746027,55265424,39315738,73343877,NaN
3,271019,"Medium oils and preparations, of petroleum or ...",88245886,91776552,93595475,53088209,35192532,45335013,61357826,52726494,35405155,54277319,NaN
4,710812,"Gold, incl. gold plated with platinum, unwroug...",5122557,5572369,3119673,1382822,907369,2358865,696996,5740438,18535922,17362166,NaN

In [4]:
# hs, bec 파일 불러오기
hs17_bec5 = pd.read_csv('C:\project2\BEC5Correlations\HS17BEC5.csv')

# hs, bec 코드 불러오기
# hs code, 이름, bec 코드 추출
hs_bec = hs17_bec5[['HS6', 'BEC5Code1']]

# hs code -> code 이름변경
hs_bec.rename(columns={'HS6':'HS', 'BEC5Code1':'BEC'}, inplace=True)
hs_bec.head()

C:\Users\user\AppData\Local\Temp\ipykernel_18356\4220385039.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs_bec.rename(columns={'HS6':'HS', 'BEC5Code1':'BEC'}, inplace=True)

      HS       BEC
0  10121  712010.0
1  10129    1111.0
2  10130    1111.0
3  10190    1111.0
4  10221  112010.0

In [5]:
# 데이터 합치기
# code에 total 000000 으로 바꿔주기
russian_exported_list.loc[0, 'HS'] = 000000

russian_exported_list['HS'] = pd.to_numeric(russian_exported_list['HS'])

# korea_list.info()

# hs_bec.dtypes

russian_exported_list = pd.merge(russian_exported_list, hs_bec, how='left', on='HS')
russian_exported_list.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,BEC
0,0,All products,524766421,527265919,497833529,333501801,285491052,357083135,449347157,422777167,337105352,492314339,NaN,NaN
1,270900,Petroleum oils and oils obtained from bitumino...,180929708,173669617,153887932,86172174,73676262,93306412,129049146,121443990,72564294,110968247,NaN,2111.0
2,999999,Commodities not elsewhere specified,12711257,13208165,11646991,55364811,45239262,52887528,63746027,55265424,39315738,73343877,NaN,NaN
3,271019,"Medium oils and preparations, of petroleum or ...",88245886,91776552,93595475,53088209,35192532,45335013,61357826,52726494,35405155,54277319,NaN,213101.0
4,710812,"Gold, incl. gold plated with platinum, unwroug...",5122557,5572369,3119673,1382822,907369,2358865,696996,5740438,18535922,17362166,NaN,411210.0

In [6]:
# 파일 내보내기
russian_exported_list.to_csv('./russian_exported_list.csv')