In [1]:
import numpy as np
import pandas as pd

In [2]:
# hs / bec 파일 불러오기, excel 파일의 두번째 sheet
hs_bec = pd.read_excel('C:\project2\BEC5Correlations\HS2012-17-BEC5 -- 08 Nov 2018.xlsx'
                       , sheet_name = "HS17BEC5")

# hs4, hs6, bec, bec processing, bec specitication 목록만 별도로 추출
hs_bec = hs_bec[['HS4','HS6','BEC5Code1', 'BEC5Processing', 'BEC5Specification']]

# hs code -> code 이름변경
hs_bec.rename(columns={'HS4':'HS4', 'HS6':'HS', 'BEC5Code1':'BEC', 
                       'BEC5Processing':'BEC_Pro', 'BEC5Specification':'BEC_Spec'}, inplace=True)

In [3]:
hs4_bec = hs_bec[['HS4','BEC']]

In [4]:
# hs4, bec코드 정리
hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')


hs4_bec.dropna(axis=0, inplace= True)
# hs4_count = hs4_bec['HS4'].value_counts()
# hs4_count = pd.DataFrame(hs4_count)

# hs4_count.reset_index(inplace=True)
# hs4_count.columns = ['HS4', 'HS4_COUNT']

hs4_bec.groupby('HS4').count()

C:\Users\user\AppData\Local\Temp\ipykernel_2512\1647591944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')
C:\Users\user\AppData\Local\Temp\ipykernel_2512\1647591944.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec.dropna(axis=0, inplace= True)

      BEC
HS4
101     4
102     5
103     3
104     2
105     7
...   ...
9702    1
9703    1
9704    1
9705    1
9706    1

[1222 rows x 1 columns]

In [5]:
hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')
hs4_bec['BEC'] = hs4_bec['BEC'].astype('float')

# hs_bec4.set_index('HS4').T.to_dict('list')

C:\Users\user\AppData\Local\Temp\ipykernel_2512\1937868492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')
C:\Users\user\AppData\Local\Temp\ipykernel_2512\1937868492.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec['BEC'] = hs4_bec['BEC'].astype('float')

In [6]:
hs4 = hs4_bec['HS4']

hs4.drop_duplicates(inplace=True)

hs4 = hs4.to_frame()

hs4.reset_index(inplace=True)
hs4.count()

C:\Users\user\AppData\Local\Temp\ipykernel_2512\909227547.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4.drop_duplicates(inplace=True)

index    1222
HS4      1222
dtype: int64

In [19]:
hs4_bec = hs4_bec.fillna("0")
# hs4_bec.loc[3513,'HS4'] = 0
# hs4_bec.loc[3542,'HS4']
hs4_bec.isna().sum()

HS4    0
BEC    0
dtype: int64

In [21]:
hs4_bec

         HS4       BEC
0      101.0  712010.0
1      101.0    1111.0
2      101.0    1111.0
3      101.0    1111.0
4      102.0  112010.0
...      ...       ...
5383  9703.0  713202.0
5384  9704.0  813202.0
5385  9705.0  713202.0
5386  9706.0  713202.0
3513     0.0         0

[5386 rows x 2 columns]

In [24]:
hs4_bec.loc[3513,'HS4']
hs4_bec.loc[3542,'HS4'] = 0

In [25]:
# hs4와 bec 사전 만들기

from collections import defaultdict
hs4_dict = defaultdict(list)
    
hs4_bec.loc[0, 'HS4']
for i in range(len(hs4)) :
    hs4Temp = hs4.loc[i, 'HS4']
    for j in range(len(hs4_bec)):
        hsbecTemp = hs4_bec.loc[j, 'HS4']
        if hs4Temp == hsbecTemp and hs4_bec.loc[j, 'BEC'] not in hs4_dict[hs4Temp]:
            hs4_dict[hs4Temp].append(hs4_bec.loc[j, 'BEC'])
        pass

In [26]:
hs4_bec

         HS4       BEC
0      101.0  712010.0
1      101.0    1111.0
2      101.0    1111.0
3      101.0    1111.0
4      102.0  112010.0
...      ...       ...
5384  9704.0  813202.0
5385  9705.0  713202.0
5386  9706.0  713202.0
3513     0.0         0
3542     0.0       NaN

[5387 rows x 2 columns]

In [27]:
# korea exported 파일 불러오기
korea_exported_list = pd.read_table('C:\project2\Trade_map_List_of_products_exported_and_imported\Trade_Map_-_List_of_products_exported_by_Korea__Republic_of.txt', sep = '\t')

# code -> hs로 컬럼 이름 변경
korea_exported_list.rename(columns={'Code':'HS'}, inplace=True)
korea_exported_list.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12
0,TOTAL,All products,547854448,559648708,573091134,526900733,495465606,573716618,605169190,542333337,512788606,644438622,NaN
1,854232,Electronic integrated circuits as memories,16611973,21964136,28849532,28856912,31612095,60506974,83048246,53163163,52359154,69177215,NaN
2,854231,Electronic integrated circuits as processors a...,21228826,20702672,18514980,19887934,17066083,21362697,22100868,20681846,23516687,30406085,NaN
3,271019,"Medium oils and preparations, of petroleum or ...",43536414,39290957,37799193,22784332,18938588,25256941,34171305,29751793,17844010,26178125,NaN
4,870323,Motor cars and other motor vehicles principall...,27767857,27237499,27337065,24060624,22007933,19133730,19612091,19701460,15352522,16416185,NaN

In [28]:

#   1) code 열에 total -> 0으로 변경
# korea_exported_list.loc[0, 'HS'] = 000000
# 제거
korea_exported_list = korea_exported_list.drop(index = 0, axis = 0)

#   2) korea 데이터 프레임에 hs 코드 데이터 타입 형변환
korea_exported_list['HS'] = pd.to_numeric(korea_exported_list['HS'])

#   2) merge를 사용해 hs코드 기준으로 데이터 프레임 병합
korea_exported_list = pd.merge(korea_exported_list, hs_bec, how='left', on='HS')

#   2-2 hs코드 잘라서 hs4에 넣어주기
korea_exported_list['HS'] = korea_exported_list['HS'].astype('str')
korea_exported_list['HS4'] = korea_exported_list['HS'].str.slice(0, 4)

#   3) 병합된 데이터 프레임에 결측값 확인
korea_exported_list.isnull().sum()

#

no_exported_id = korea_exported_list[(korea_exported_list['Exported value in 2017'] == 0)
                    & (korea_exported_list['Exported value in 2018'] == 0)
                    & (korea_exported_list['Exported value in 2019'] == 0)
                    & (korea_exported_list['Exported value in 2020'] == 0)
                    & (korea_exported_list['Exported value in 2021'] == 0)].index

# 거래품목 없는 인덱스 제거
korea_exported_list = korea_exported_list.drop(no_exported_id)
korea_exported_list.isnull().sum()

HS                           0
Product label                0
Exported value in 2012       0
Exported value in 2013       0
Exported value in 2014       0
Exported value in 2015       0
Exported value in 2016       0
Exported value in 2017       0
Exported value in 2018       0
Exported value in 2019       0
Exported value in 2020       0
Exported value in 2021       0
Unnamed: 12               5015
HS4                          0
BEC                          3
BEC_Pro                    693
BEC_Spec                  1591
dtype: int64

In [29]:
add_BEC = korea_exported_list[korea_exported_list['BEC'].isnull()]
add_BEC['HS'] = add_BEC['HS'].astype('float')
add_BEC

# add_index = add_BEC.index
# add_index= list(add_index)

hs4_count = hs4_bec.groupby('HS4').count()
add_BEC.head()

hs4_hs_bec = hs_bec[['HS','BEC']]
add_BEC.drop(['BEC'], axis=1, inplace=True)


add_BEC = pd.merge(add_BEC, hs4_hs_bec, how='left', on='HS')
add_BEC.head()
# add_BEC.isna().count()

C:\Users\user\AppData\Local\Temp\ipykernel_2512\2827883604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add_BEC['HS'] = add_BEC['HS'].astype('float')
C:\Users\user\AppData\Local\Temp\ipykernel_2512\2827883604.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  add_BEC.drop(['BEC'], axis=1, inplace=True)

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC_Pro,BEC_Spec,BEC
0,999999.0,Commodities not elsewhere specified,67648,64113,57712,56571,58393,49796,49332,46840,37392,39332,NaN,9999,NaN,NaN,NaN
1,711890.0,Coin of legal tender,0,13875,16361,3497,8224,67050,52337,60841,78750,27431,NaN,7118,NaN,NaN,NaN
2,710820.0,Monetary gold,0,0,0,0,0,2,2,0,0,1,NaN,7108,NaN,NaN,NaN

In [ ]:
# for i in range(len(add_BEC)):
#     for key, value in hs4_dict.items():
#         count = len(hs4_dict[key]) # 몇개의 bec 코드 갖고 있는지
#         keyList = hs4_dict.keys()
#         com_key = add_BEC.loc[i,'HS4']
#         if count > 1 & (com_key.iloc[0] == key) :
#             for j in range(count):
#                 add_df = add_BEC.loc[[i]]
#                 add_BEC = pd.concat([add_BEC, add_df])
#         pass

# add_BEC.head()

In [30]:
add_BEC.loc[0,'HS4']
add_BEC

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC_Pro,BEC_Spec,BEC
0,999999.0,Commodities not elsewhere specified,67648,64113,57712,56571,58393,49796,49332,46840,37392,39332,NaN,9999,NaN,NaN,NaN
1,711890.0,Coin of legal tender,0,13875,16361,3497,8224,67050,52337,60841,78750,27431,NaN,7118,NaN,NaN,NaN
2,710820.0,Monetary gold,0,0,0,0,0,2,2,0,0,1,NaN,7108,NaN,NaN,NaN

In [ ]:
# for i in range(len(add_BEC)):
#     for key, value in hs4_dict.items():
#         count = len(hs4_dict[key]) # 몇개의 bec 코드 갖고 있는지
#         keyList = hs4_dict.keys()
#         com_key = add_BEC.loc[i,'HS4']
#         print(com_key)
#         # if count > 1 & (com_key == key) :
#         #     for j in range(count):
#         #         add_df = add_BEC.loc[[i]]
#         #         add_BEC = pd.concat([add_BEC, add_df])
#         # pass

# add_BEC.head()

In [31]:
range(len(add_BEC))

range(0, 3)

In [32]:
add_BEC

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC_Pro,BEC_Spec,BEC
0,999999.0,Commodities not elsewhere specified,67648,64113,57712,56571,58393,49796,49332,46840,37392,39332,NaN,9999,NaN,NaN,NaN
1,711890.0,Coin of legal tender,0,13875,16361,3497,8224,67050,52337,60841,78750,27431,NaN,7118,NaN,NaN,NaN
2,710820.0,Monetary gold,0,0,0,0,0,2,2,0,0,1,NaN,7108,NaN,NaN,NaN

In [ ]:
hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')

C:\Users\user\AppData\Local\Temp\ipykernel_14352\331642475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hs4_bec['HS4'] = hs4_bec['HS4'].astype('int')

In [33]:
for key, value in hs4_dict.items():
    count = len(hs4_dict[key])
    keyList = hs4_dict.keys()
    for i in range(len(add_BEC)):
        com_key = int(add_BEC.loc[i, 'HS4'])
        if count > 1 & com_key == key:
            for j in range(count):
                add_df = add_BEC.loc[[i]]
                add_BEC = pd.concat([add_BEC, add_df])
                
add_BEC.head()

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC_Pro,BEC_Spec,BEC
0,999999.0,Commodities not elsewhere specified,67648,64113,57712,56571,58393,49796,49332,46840,37392,39332,NaN,9999,NaN,NaN,NaN
1,711890.0,Coin of legal tender,0,13875,16361,3497,8224,67050,52337,60841,78750,27431,NaN,7118,NaN,NaN,NaN
2,710820.0,Monetary gold,0,0,0,0,0,2,2,0,0,1,NaN,7108,NaN,NaN,NaN

In [ ]:
(hs4_dict[key][0])

411210.0

In [35]:
### bec 코드 부여
# dic 에서 하나씩 넣어주기?
for i in range(len(add_BEC)):
    com_key = int(add_BEC.loc[i, 'HS4'])
    for key, value in hs4_dict.items():
        if key == com_key:
            add_BEC.loc[i, 'BEC'] = hs4_dict[key][0]

add_BEC

,HS,Product label,Exported value in 2012,Exported value in 2013,Exported value in 2014,Exported value in 2015,Exported value in 2016,Exported value in 2017,Exported value in 2018,Exported value in 2019,Exported value in 2020,Exported value in 2021,Unnamed: 12,HS4,BEC_Pro,BEC_Spec,BEC
0,999999.0,Commodities not elsewhere specified,67648,64113,57712,56571,58393,49796,49332,46840,37392,39332,NaN,9999,NaN,NaN,NaN
1,711890.0,Coin of legal tender,0,13875,16361,3497,8224,67050,52337,60841,78750,27431,NaN,7118,NaN,NaN,813202.0
2,710820.0,Monetary gold,0,0,0,0,0,2,2,0,0,1,NaN,7108,NaN,NaN,411210.0