In [1]:
import pandas as pd
import os

files = os.listdir('./import_export_year/import_year/')

file_name = []
# files 리스트 요소를 ,로 스플릿한 후 앞 요소만 가져오기
for i in range(len(files)):
    file_name.append(files[i].split('.')[0])
    globals()[files[i].split('.')[0]] = pd.read_csv(f'./import_export_year/import_year/{files[i]}')

In [2]:
### export 나라들
df_list = []

for df in file_name:      
    df = globals()[df]
    df_list.append(df)

In [3]:
drop_list = ['Unnamed: 0']

for df in df_list:
    df.drop(drop_list, axis = 'columns', inplace = True)

In [4]:
df_list[0]

          BEC      USD    Country  Year
0       212.0   386535  australia  2012
1       312.0  4214443  australia  2012
2       512.0  1639397  australia  2012
3       612.0     4720  australia  2012
4       712.0   580725  australia  2012
..        ...      ...        ...   ...
645  811220.0   195825  australia  2021
646  812020.0   789524  australia  2021
647  813101.0     2717  australia  2021
648  813201.0   226441  australia  2021
649  813202.0    61130  australia  2021

[650 rows x 4 columns]

In [5]:
# 새로운 열 추가할 df 만들기
col_imex = pd.DataFrame({'import, export' : []})

# main country 에 넣을 나라이름
imex = ['import']

df_main_imex = []
for i in range(len(df_list)):
    df = df_list[i]
    df_new = pd.concat([df, col_imex], axis = 1)
    df_new.loc[df_new['import, export'] != df_new['import, export'], 'import, export'] = imex[0]
    df_main_imex.append(df_new)

In [6]:
df_main_imex[11]

          BEC        USD  Country  Year import, export
0       212.0   344849.0  vietnam  2012         import
1       312.0  1789995.0  vietnam  2012         import
2       512.0   178539.0  vietnam  2012         import
3       612.0     2623.0  vietnam  2012         import
4       712.0   185512.0  vietnam  2012         import
..        ...        ...      ...   ...            ...
655  811220.0    31776.0  vietnam  2021         import
656  812020.0    99376.0  vietnam  2021         import
657  813101.0     1477.0  vietnam  2021         import
658  813201.0      455.0  vietnam  2021         import
659  813202.0    86029.0  vietnam  2021         import

[660 rows x 5 columns]

In [7]:
df_import = pd.DataFrame({'BEC' : [''], 'USD' : [''],
                       'Country' : [''],
                       'Year' : [''],
                       'import, export' : ['']})

for i in range(len(df_main_imex)):
    df = df_main_imex[i]
    df_import = pd.concat([df_import, df], axis=0)

In [8]:
df_import

          BEC      USD    Country  Year import, export
0
0       212.0   386535  australia  2012         import
1       312.0  4214443  australia  2012         import
2       512.0  1639397  australia  2012         import
3       612.0     4720  australia  2012         import
..        ...      ...        ...   ...            ...
655  811220.0  31776.0    vietnam  2021         import
656  812020.0  99376.0    vietnam  2021         import
657  813101.0   1477.0    vietnam  2021         import
658  813201.0    455.0    vietnam  2021         import
659  813202.0  86029.0    vietnam  2021         import

[7861 rows x 5 columns]

In [9]:
df_import.to_csv('./df_import.csv')